<ion-header>
    <ion-toolbar>
        <ion-title>
            Geolocalización
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item> Latitud : {{lat}}</ion-item>
    <ion-item> Longitud : {{lon}}</ion-item>
    <ion-button (click)="getLocation()"> Get Location </ion-button>

    <ion-item *ngFor="let log of logs">{{log}}</ion-item>

    <!-- <div style="width: 100%"><iframe width="100%" height="600" [src]="urlSafe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div><br />-->

</ion-content>